.container {
    margin-top: 10px;
}

.columns {
    margin: auto;
    column-count: 3;
    column-gap: 10px;
}

.blog {
    margin: 0 0 10px;
    display: inline-block;
    width: 100%;
    border: 1px solid lightgray;
    cursor: pointer;
}

.blog:hover {
    background-color: lavender;
}

.blog-content {
    padding: 20px;
}

.blog-project {
    font-size: 12px;
    color: gray;
    font-family: 'satoshi-bold';
    text-transform: uppercase;
    font-weight: bold;
}

.blog-title {
    font-size: 20px;
    font-family: 'satoshi-bolder';
    font-weight: bolder;
}

.blog-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: gray;
}