table {
    width: 100%;
    border: 1px solid lightgray;
    border-collapse: collapse;
    border-left: 0px;
    border-right: 0px;
}

table th {
    font-size: 11px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid lightgray;
    background: lavender;
    padding: 10px;
}

table td {
    text-align: left;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.green-led {
    position: relative;
    padding-left: 15px;
}

.green-led::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 5px;
    left: 0;
    top: 5px;
}